.header {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #808080;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    min-height: 13rem;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
    /* border: blue 5px solid; */

}

.header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #808080;
    position: sticky;
    width: 100%;
    min-height: 1rem;
    /* border: purple 5px solid; */

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5))
}

.dumb{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
/* margin-top: 18px; */

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    padding-left: 40px;
}

.header_searchInput {
    height: 35px;
    padding: 10px;
    border: none;
    width: 90%;
    /* MAYBE TRY AS 100% LATER */
}

.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header_optionLineOne {
    font-size: 25px;
    font-weight: 700;

}

.header_optionLineTwo {
    font-weight: 800;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header_basketCount {
    margin: 0px 10px;
}

.header_nav {
    display: flex;
    justify-content: flex-end;
    /* border: red 5px solid; */
    margin-right: 18px;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    color: white;
}