.bg-gray-800{
    /* background-color: gray.500; */
    background-color: #f5f5f5;
}

.title {
    display: flex;
    justify-content: left;
    margin: 18px;
    font-size: 100px;
    font-weight: bold;
    /* font-size: 500px; */
    /* background-color: #f5f5f5; */
}

div{
    /* background-color: #f5f5f5; */
    /* background-color: #fafafa; */
}